* {
  margin: 0;
  padding: 0;
}
.header-container {
  margin-top: 50px;
}
.header-content {
  width: 1420px;
  height: 600px;
  background-image: url(./images/Banner\ Image.png);
  background-size: cover;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;
  padding: 30px;
}
.header-content p {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.header-content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
}

/* discount  */
.discount * {
  margin-top: 20px;
}
.discount h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 120px;
}
.discount p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}
.discount h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
}

/* only img */
.img1 {
  margin-top: 50px;
  text-align: center;
}

/* welcome party  */

.welcome-party {
  margin-top: 30px;
}
.party-container {
  width: 1420px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-image: url("./images/Vectorrr.png");
  background-size: cover;
}
.party-content {
  width: 800px;
  padding-left: 40px;
}
.party-content * {
  margin-top: 30px;
}

.img2 {
}
.party-content-h {
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  color: rgb(255, 255, 255);
}
.party-content-p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}
.btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background: transparent;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-left: 50px;
  box-shadow: none;
}

/* time date place */

.time{
    
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 50px auto;
    width: 1420px;
    height: 600px;
   
    
}
.time p{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.btun{
    border-radius: 8px;
    background: rgb(255, 0, 0);
    padding: 20px 25px;
    border: none;
    color: white;
    margin-top: 20px;
}
.time-container{
    text-align: center;
    padding-top:150px;
    padding-bottom: 30px;
}

/* offer */

.offer{
    width: 1420px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;

   
}

.offer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offer-content{
    width: 400px;
}
.offer-content *{
    margin-top: 10px;
}
.offer-content-h4{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
   
}
.offer-content-h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.offer-pic{
    border: 15px solid red;
    border-radius: 50%;
    padding: 2%;
  
    
}
.offer-year h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
   
  
}
.offer-year p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    margin-top: 10px;  
    width: 276px;
}
.happy-img{
    margin-top: 30px ;
}

/* holiday */
.holiday-container{
    width: 1420px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.holiday-content{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center
}
.holiday-head{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
}
.holiday-p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
text-align: center;


}

/* protfolio */
.protfolio{
    width: 1420px;
    height: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.protfolio-h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
}
.protfolio-p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
width: 800px;
}

/* images */
.protfolio-img{
    display: flex;
   
    gap: 35px;    
}
.protfolio-img2{
    display: flex;
 
    gap: 35px;    
}
.protfolio *{
    margin-bottom: 15px;
}


/* subscribe-container */
.subscribe{
    background: rgba(255, 0, 0, 0.05);
    width: 1420px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 25px;

}
.subscribe-container{
    margin-top: 20px;
    text-align: center;
}
.subscribe-container-h{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}
.subscribe-container-p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
width: 800px;
margin: 0 auto;

}
.form-u{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 120px;
   
}
input{
    border-radius: 50px;
    line-height: 50px;
    outline: none;
    padding: 0 60px;
    border: none;
    font-size: 16px;
    width: 400px;

}
.sub-btn{
    color: white;
    background-color: red;
    border-radius: 0px 50px 50px 0px;
    padding: 15px 20px;
    width: 200px;
    border: none;
}

/* footer */
.last{
    background-color: black;
    height: 500px;
    width: 100%;

}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 120px 140px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0%;

}
.footer_content{
    color: white;
    width: 500px;
}
.footer-no{
    color: white;
}
.footer-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.final{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 140px ;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
}